<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <a class="navbar-brand"  [routerLink]="['/']" routerLinkActive="active">Online Class Management </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
        <li class="nav-item">
          <a class="nav-link navbar-brand" *ngIf="invalidLogin" [routerLink]="['/home/login']" routerLinkActive="active" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-brand"  *ngIf="invalidLogin" [routerLink]="['/reset-password']" routerLinkActive="active" >Reset Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/cc/home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"    [routerLink]="['/faculty/home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/student/home']" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/cc/faculties']" routerLinkActive="active" >Faculties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/cc/notices']" routerLinkActive="active" >Notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/cc/schedule']" routerLinkActive="active" >Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/cc/students']" routerLinkActive="active" >Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/cc/subjects']" routerLinkActive="active" >Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/faculty/subjects']" routerLinkActive="active" >My Subjects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/faculty/assignments']" routerLinkActive="active" >Assignments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/student/assignments']" routerLinkActive="active" >Assignments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/student/schedule']" routerLinkActive="active" >Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="['/student/subjects']" routerLinkActive="active" >Subjects</a>
        </li>
      </ul>
    </div>
    <span class="navbar-text " style="text-align: right; color: white;">
        Welcome to Online Class Management System
    </span>
  </nav> -->


<!-- <nav id="navbar">
    <div id="logo">
        <img src="../../../assets/cover.png" alt="Marvelous.com">
    </div>
    <ul>
        <li class="item"><a routerLink="/">Online Class Management</a></li>
        <li class="item"><a href="#">Our Services</a></li>
        <li class="item"><a routerLink="/employees/add-employee">Login</a></li>
        <li class="item"><a routerLink="/employees/list-all-employees-by-service">About us</a></li>
        <li class="item"><a routerLink="/appointments/book-appointment">Book Appointment</a></li>
        <li class="item">
          <div class="dropdown">
            <span>Sign Up</span>
            <div class="dropdown-content">
            <a routerLink="/customers/login">Customer Login</a><br>
            <a routerLink="/employees/login">Employee Login</a>
            </div>
          </div>
        </li>     
    </ul>
</nav> -->

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>Online Class Management System</title>
    
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    </head>
    <body class="bg">
         <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" id="sidebarCollapse" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="navbar-text">
        <span style="text-align: right;">Welcome Online To Class Management System</span>
        </div>
    </mat-toolbar>
    <div class="wrapper">
      <div> 
      <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <p>Weclome {{ username }}</p>
                <li class="active">
                  <li class="nav-item">
                    <a class="nav-link navbar-brand" *ngIf="invalidLogin" [routerLink]="['/home/login']" routerLinkActive="active" >Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navbar-brand"  *ngIf="invalidLogin" [routerLink]="['/reset-password']" routerLinkActive="active" >Reset Password</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isAdmin" [routerLink]="['/cc/home']" routerLinkActive="active" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"     *ngIf="isFaculty" [routerLink]="['/faculty/home']" routerLinkActive="active" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"    *ngIf="isStudent" [routerLink]="['/student/home']" routerLinkActive="active" >Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isAdmin" [routerLink]="['/cc/faculties']" routerLinkActive="active" >Faculties</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isAdmin" [routerLink]="['/cc/notices']" routerLinkActive="active" >Notice</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isAdmin" [routerLink]="['/cc/schedule']" routerLinkActive="active" >Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isAdmin" [routerLink]="['/cc/students']" routerLinkActive="active" >Students</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  *ngIf="isAdmin" [routerLink]="['/cc/subjects']" routerLinkActive="active" >Subjects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isFaculty" [routerLink]="['/faculty/subjects']" routerLinkActive="active" >My Subjects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isFaculty" [routerLink]="['/faculty/assignments']" routerLinkActive="active" >Assignments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isStudent" [routerLink]="['/student/assignments']" routerLinkActive="active" >Assignments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isStudent" [routerLink]="['/student/schedule']" routerLinkActive="active" >Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"   *ngIf="isStudent" [routerLink]="['/student/subjects']" routerLinkActive="active" >Subjects</a>
                  </li>
            </ul>
        </nav>
      </div>
        <div class="outlet">
        <router-outlet></router-outlet>
        </div>
      
        <div class="footer fixed-bottom">
          <footer class=" bg-primary text-white text-center text-lg-start">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
              © 2020 Copyright:
              <a class="text-white" href="#">OnlineClassManagementSystem.com</a>
            </div>
          </footer>
        </div>
    </div>
        


   
</body>